* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    background-color: #000000;
    margin: 0px;
    padding: 0px 3px 0px 3px;
}

/* custom launcher style */
#custom-launcher {
  color: #7a95c9;
}

/* workspaces style */
#workspaces {
  color: #fa9f8e;
}

#workspaces button {
	border: none;
	color:  #d4d2a9;
	background: transparent;
	box-shadow: none;
  padding: 0px;
}

#workspaces button.active {
	color:  #81A1C1;
	background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%);
	animation: button_activate .2s ease-in-out;
}

#workspaces button.urgent {
	color:  #fa9f8e;	
	background: radial-gradient(circle, rgba(25, 79, 255, 0.3) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.persistent {
	color:  #85909e;
}

#workspaces button:hover {
	border: none;
	background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.active:hover, #workspaces button.urgent:hover {
	background: inherit;
}

/* CPU style */
#cpu {
  color: #fa9f8e;
}

/* memory style */
#memory {
  color: #b9fac2;
}

/* temperature style */
#temperature {
  color: #8a909e;
}

/* window style */
#window {
  color: #64727d;
}

window#waybar {
  background-color: #131822;
  color: #ffffff;
  border-width: 1px;
  border-color: #3a4151;
  border-style: solid;
}

window#waybar.hidden {
  opacity: 0.1;
}

/* clock style */
#clock {
  color: #fa9f8e;
}

#clock {
  color: #8a909e;
}

/* backlight style */
#backlight {
  color: #dddddd;
}

/* battery style */
#battery {
    color: #a6e3a1;
    margin-right: 10px;
    border-left: 0px;
}

/* network style */
#network {
color: #f9e2af;
}

#bluetooth {
    color: #89b4fa;
} 

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 10px;
}
